
interface {{pascalCase name}}Props {
{{> jsx-types typeDefinition=typeDefinition}}
}

const {{pascalCase name}} = ({ {{> component-props typeDefinition=typeDefinition}} }: {{pascalCase name}}Props) => {
  return (
    <section>
      <div className="h-screen w-full border-8 flex justify-center items-center">
        <h2>Slice: {{name}}</h2>
      </div>
    </section>
  )
}

export default {{pascalCase name}}